[submodule "bennyhuo/kotlin-ohos-sample"]
	path = bennyhuo/kotlin-ohos-sample
	url = https://github.com/kotlin-for-ohos/kotlin-ohos-sample.git
[submodule "bennyhuo/ktor"]
	path = bennyhuo/ktor
	url = https://github.com/kotlin-for-ohos/ktor.git
[submodule "bennyhuo/Ktorfit"]
	path = bennyhuo/Ktorfit
	url = https://github.com/kotlin-for-ohos/Ktorfit.git
[submodule "ohos/applications-app-samples"]
	path = ohos/applications-app-samples
	url = git@gitee.com:openharmony/applications_app_samples.git
[submodule "arkui-x/samples"]
	path = arkui-x/samples
	url = git@gitee.com:arkui-x/samples.git
[submodule "arkui-x/docs"]
	path = arkui-x/docs
	url = git@gitee.com:arkui-x/docs.git
[submodule "ohos/docs"]
	path = ohos/docs
	url = git@gitee.com:openharmony/docs.git
